<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title th:text="${type}"></title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
</head>
<body>
    <div class="nav">
        <nav class="start">
            <a class="button" href="/viewMovies">Movies</a>
            <a class="button" href="/viewPersons">People</a>
        </nav>
        <nav class="end">
            <a class="button" href="/login" th:if="${logged == false}">Login</a>
            <a class="button" href="/viewProfile" th:unless="${logged == false}">User Profile</a>
        </nav>
    </div>
    
    <div class="content">
        <h1 th:id="title" th:text="${type}"></h1>
        <div class="filters">
            <select th:if="${type == 'Movies'}" name="select" id="select">
                <option value="Movies" selected>Name</option>
                <option value="Actors">Actor</option>
                <option value="Characters">Character</option>
                <option value="Directors">Director</option>
                <option value="Genres">Genre</option>
            </select>
            <label id="label" for="input">Name</label>
            <input type="text" name="input" id="input">
            <button id="btn">Search</button>
        </div>
    </div>
    <div id="list" class="list"></div>
    <div class="pageControls">
        <a id="prev" href="#">Prev</a> <p id="pageLabel"></p><a id="next" href="#">Next</a>
    </div>
    <input class="hidden" type="number" name="page" id="page" value="0">
</body>
<script src="/js/viewList.js"></script>
</html>