<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title th:text="${title}"></title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
</head>
<body>
    <div class="content">
        <h1 th:text="${title}"></h1>
        <a th:if="${type=='view' && canUpdate == true}" th:href="${'/update'+table+'?id='+id}" class="button">Edit</a>
        <a th:if="${type=='view' && canDelete == true}" th:href="${'/delete'+table+'?id='+id}" class="button">Delete</a>
        <form action="" method="post" class="form" id="form">
        <div class="values">
            <div th:each="item : ${list}" th:switch="${item.type}">
                <div th:case="para">
                    <label th:for="${item.name}" th:text="${item.name}"></label>
                    <p th:id="${item.name}" th:text="${item.value}"></p>
                </div>
                <div th:case="text">
                    <label th:for="${item.name}" th:text="${item.name}"></label>
                    <textarea name="${item.name}" disabled id="${item.name}" th:text="${item.value}"></textarea>
                </div>
                <div th:case="list">
                    <h2 th:text="${item.name}"></h2>
                    <a th:if="${type=='view' && canUpdate == true && item.Changeable == true}" th:href="${'/add' + item.url + '?id=' + id}" class="button">Add</a>
                    <div class="overflowList">
                        <div th:each="element : ${item.value}" class="inline">
                            <p th:text="${element.value}"></p>
                            <a th:if="${type=='view' && canUpdate==true && item.Changeable == true}" th:href="${'/delete' + item.url + element.url}">Remove</a>
                        </div>
                        
                    </div>
                </div>
                <div th:case="inputText">
                    <label th:for="${item.name}" th:text="${item.name}"></label>
                    <input type="text" th:name="${item.name}" th:id="${item.name}" th:value="${item.value}">
                </div>
                <div th:case="inputAuto">
                    <label th:for="${item.name}" th:text="${item.name}"></label>
                    <input type="text" th:name="${'select' + item.name}" th:id="${'select' + item.name}" th:value="${item.value}" class="auto">
                    <input type="number" th:name="${item.name}" th:id="${item.name}" class="hidden">
                </div>
                <div th:case="inputNumber">
                    <label th:for="${item.name}" th:text="${item.name}"></label>
                    <input type="number" th:name="${item.name}" th:id="${item.name}" th:value="${item.value}">
                </div>
                <div th:case="inputId" class="hidden">
                    <input type="number" th:name="${item.name}" th:id="${item.name}" th:value="${item.value}" hidden>
                </div>
                <div th:case="inputFloat">
                    <label th:for="${item.name}" th:text="${item.name}"></label>
                    <input type="number" th:name="${item.name}" th:id="${item.name}" th:value="${item.value}" step="0.01">
                </div>
                <div th:case="inputDate">
                    <label th:for="${item.name}" th:text="${item.name}"></label>
                    <input type="date" th:name="${item.name}" th:id="${item.name}" th:value="${item.value}">
                </div>
                <div th:case="inputPassword">
                    <label th:for="${item.name}" th:text="${item.name}"></label>
                    <input type="password" th:name="${item.name}" th:id="${item.name}" th:value="${item.value}">
                </div>
                <div th:case="inputEmail">
                    <label th:for="${item.name}" th:text="${item.name}"></label>
                    <input type="email" th:name="${item.name}" th:id="${item.name}" th:value="${item.value}">
                </div>
                <div th:case="inputTextArea">
                    <label th:for="${item.name}" th:text="${item.name}"></label>
                    <textarea th:name="${item.name}" th:id="${item.name}" th:text="${item.value}"></textarea>
                </div>
            </div>
        </div>
        <input type="submit" class="button" th:if="${type != 'view'}" th:value="${type}">
        </form>
    </div>
</body>
<script src="/js/viewOne.js"></script>
</html>